.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0%;
  padding: 0%;
}
.header {
  flex: 30%;
  /* background-color: #fdfdcb; */
  background: linear-gradient(
    109.5deg,
    rgb(76, 221, 242) 11.2%,
    rgb(92, 121, 255) 91.1%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo{
  margin-top: 10px;
  margin-right: 20px;
}
.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid white;
  background-color: white;
}
.header button {
  width: 70px;
  height: 95px;
  border-radius: 10px;
  background-color: white;
  color: black;

  padding: 10px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  
}
.todoList {
  flex: 70%;
  width: 100%;
}

.task {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
  color: black;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
  border-radius: 30px;
}
.task button {
  margin-left: 20px;
  border-radius: 30px;
}
input,
h3 {
  font-family: "DM Sans", sans-serif;
}
.taskName{
  font-size: larger;
}

/*Credits*/
#credits {
  text-align: center;
  font-size: 10px;
  line-height: 1px;
  font-family: "Neucha", cursive;
  color: black;
  margin-bottom: 0px;
}
#credits a {
  color: black;
  text-decoration: none;
}
#credits:hover {
  font-size: 12px;
}
#credits a:hover {
  font-size: 12px;
}

@media screen and (max-width: 850px) {
  .logo{
    display: none;
  }
.header{
  margin-top: -40px;
}}